* {
  margin: 0;
  box-sizing: border-box;
}

/* h1 {
  height: 100px;
} */

/*   home.html   */

.nav-icon img {
  width: 15%;
}

.content {
  /* margin-top: 50px; */
  height: 720px;
  background-color: #f9f9f9;
}

.content p {
  padding-top: 370px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;

}

.content span {
  display: inline-block;

  width: 390px;
  text-align: center;
  color: rgb(138, 138, 138);
}

.nav-btm {
  border-radius: 40px 40px 0 0;

  width: 390px;
  height: 87px;
  box-shadow: 0px -10px 30px rgb(181, 181, 181);
}

.nav-btm span {

  display: inline-block;
  width: 190px;
  height: 100%;

  line-height: 87px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}





/*   item.html   */
.list {
  margin-top: 93.2px;

  display: inline-block;
  border-radius: 40px 40px 0 0;

  width: 390px;
  height: 844px;
  box-shadow: 0px -10px 30px rgb(181, 181, 181);

}

.list span {
  margin-left: 30px;

  display: inline-block;

  line-height: 87px;
  font-size: 22px;
  font-weight: 300;
}

.addItem {
  margin: 10px auto;

  width: 330px;
  height: 50px;

}

.addItem input {
  width: 70%;
  height: 50px;
  border-radius: 25px 0 0 25px;
  padding: 0 20px;
}